[submodule "lib/ast"]
	path = lib/ast
	url = git@github.com:socialimageapp/adventurai-shared-types.git
[submodule "lib/adb"]
	path = lib/adb
	url = git@github.com:socialimageapp/adventur-database.git
